<ion-header >
  <ion-toolbar>
    <ion-menu-button slot="start" menu="main-menu" ></ion-menu-button>
   
  <br><br><br><br><br>
  <!-- Default Searchbar -->
  <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" 
    (ionInput)="onInput($event)" (ionCancel)="onCancel()" >
  </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
 <div>
    <div class="text-end">
      <!-- <button class="btn btn-primary" ion-button type="submit" (click)="addMatiere()"><ion-icon name="add-sharp"></ion-icon>Add Matiere</button> -->
      
    </div>
    <br>
    

    <h1 class="text-center"> <b>List des Matieres</b></h1>
    <br>
    <div class="d-flex justify-content-center" *ngIf="!dataLoaded">
      <div class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <!--Msg Error-->
    <div *ngIf="errorMessage != '' " class="alert alert-warning" role="alert">
      err : {{errorMessage}}
    </div>

    <ion-grid *ngFor="let matiere of this.matiereService.matieres">
      <ion-row>
        <ion-col>
          <b> {{matiere.nameMatiere}} </b> 
          <div *ngIf="matiere.idMatiere == id">
            <ion-input [(ngModel)]="matiereName" aria-placeholder="tset"></ion-input>
            <ion-button color="success" (click)="updateMatiere(matiere)">Ok</ion-button>
          </div>
        </ion-col>
        <ion-col>
          <ion-button color="success" (click)="detailMatiere(matiere.idMatiere)"> <ion-icon name="reader-outline"></ion-icon></ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="danger" (click)="deleteMatiere(matiere.idMatiere)"><ion-icon name="trash-outline"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
      <hr>
    </ion-grid>
    <!-- <div *ngFor="let d of this.serviceEmployee.employees">
      <b> Id : </b> {{d.ID}} <br>
      <b> Title : </b> {{d.FirstName}} <br>
      
      <b> Date Creation:  </b> {{d.CreationDate | date : "y/MM/dd" }} <br>
      <b> Date Modification: </b> {{d.ModificationDate | date : "y/MM/dd" }}  <br>

      <div class="row">
        <button class="btn btn-success" ion-button type="submit" (click)="UpdateEmployee(d.id)">Update Employee</button>
        <button class="btn btn-danger" ion-button type="submit" (click)="DeleteEmployee(d.id)">Delete Employee</button>
      </div>
      <hr color="green">
    </div> -->
    <div *ngIf="!this.matiereService.matieres" class="alert alert-warning" role="alert">
        Aucun data de title {{myInput}}
    </div>
  

 </div>
  
</ion-content>


<!-- Footer without a border -->
<ion-footer >
  <ion-toolbar>
    
    <ion-tabs>
      <!-- <button class="btn btn-light" ion-button type="submit" (click)="addMatiere()">
        <ion-icon name="add-sharp"></ion-icon>
      </button> -->
      <ion-router-outlet></ion-router-outlet>
        <ion-tab-bar slot="bottom" (click)="addMatiere()">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-tab-bar>
<!--       
      <ion-tab-bar slot="bottom" >
        <button (click)="addMatiere()" tab="schedule">
          <ion-icon name="add-circle-outline" ></ion-icon>
          <ion-label>Schedule</ion-label>
          <ion-badge>6</ion-badge>
        </button>  
      </ion-tab-bar> -->
    </ion-tabs>
    <ion-card *ngIf="showInput">
      <ion-card-header> 
        <ion-card-subtitle>Add Matiere</ion-card-subtitle>
       
      </ion-card-header>
    
      <ion-input name="matiere" type="text" placeholder="Name Matiere " [(ngModel)]="matiere" required></ion-input>
      <button class="btn btn-primary" ion-button type="submit" (click)="addMatiere()">Add</button>
      
    </ion-card>
  </ion-toolbar>
  <ion-content>
   
  </ion-content>
 
</ion-footer>
 