.add-icon-container {
    font-size: 60px;
    display: flex;
    justify-content: end;
}
.delete_icon{
    color: red;
}
.edit_icon{
    color: steelblue;
    margin-left: 50px;
}
.form-container {
    font-size: 60px;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}