<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button >
      </ion-back-button>
    </ion-buttons>
    <ion-title>{{btn_txt}}</ion-title>
  </ion-toolbar>
</ion-header> 
 

<ion-content>
  <form [formGroup]="form" (ngSubmit)="register()" > <!-- #form="ngForm"-->
    <ion-grid>
      <ion-row color="primary" justify-content-center>
      </ion-row>

      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <!-- <div text-align="center">
          <h1>Register</h1>
        </div> -->
        <div padding>
           <!--FirstName and LastName-->
          <ion-row>
            <ion-col>
              <ion-input formControlName="firstName" type="text" placeholder="First Name " >
                <ion-icon slot="start" name="person-outline"></ion-icon>
              </ion-input>
              <!-- Error messages   -->
              <!-- error-message" *ngIf="validations_form.get('username').hasError(validation.type) && (validations_form.get('username').dirty || validations_form.get('username').touched) -->
              <span color="red" class="error ion-padding" *ngIf="form.get('firstName').hasError(minLength) && (form.get('firstName').dirty || form.get('firstName').touched)">
                <!--form.invalid && !errorCtr.firstName.errors?.minLength-->
                Name is required.
              </span>
             
            </ion-col>
            
            <ion-col>
              <ion-input formControlName="lastName" type="text" placeholder="Last Name " >
                <ion-icon slot="start" name="person-outline"></ion-icon>
              </ion-input>
            </ion-col>
          </ion-row>
           
          <!--Mail and Phone-->  
          <ion-row>
            <ion-col>
              <ion-input formControlName="mail" type="mail" placeholder="Email" >
                <ion-icon name="at-circle-outline"></ion-icon>
              </ion-input>
            </ion-col>
            
            <ion-col>
              <ion-input formControlName="phone" type="phone" placeholder="Phone " >
                <ion-icon name="phone-portrait-outline"></ion-icon>
              </ion-input>
            </ion-col>
          </ion-row>
         
         
          <ion-row>
            <ion-item>
              <ion-label>Matiere</ion-label>
              <ion-select (ionChange)="onChange($event)" >
                <ion-select-option *ngFor="let matiere of this.matriereService.matieres" value="{{matiere.idMatiere}}">
                  {{matiere.nameMatiere}}
                </ion-select-option>
              </ion-select>
              <!-- <ion-select [(ngModel)]="number">
                <ion-option *ngFor="let count of quantity" value="count"></ion-option>
              </ion-select> -->
          </ion-item>
          </ion-row>
        </div>
       
        <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" color="success" expand="block">
            <span *ngIf="!loading">{{btn_txt}}</span>
            <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <span *ngIf="loading" class="visually-hidden">Loading...</span>
          </ion-button>
        </div>
       
      </ion-col>
    </ion-grid>
  </form>
</ion-content>
